alignment==1.0.10
filterpy==1.4.5
Flask==2.2.3
flask_socketio==5.3.2
imutils==0.5.4
joblib==1.2.0
keras==2.11.0
matplotlib==3.7.0
mediapipe; platform_system != "Darwin" or platform.machine != "arm64"
mediapipe-silicon; platform_system == "Darwin" and platform.machine == "arm64"
protobuf>=3.11,<4
moviepy==1.0.3
numpy==1.24.2
opencv_contrib_python==4.7.0.72
opencv-python==4.7.0.72
ops==2.0.0
pandas==1.5.3
Pillow==9.4.0
PyAutoGUI==0.9.53
pynput==1.7.6
PyYAML==6.0
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
tensorflow==2.11.0; platform_system != "Darwin" or platform.machine != "arm64"
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
tweepy==4.12.1
